[openstack]
localhost   ansible_connection='local'    ansible_python_interpreter='/usr/bin/env python'

[master]
{% for fact in server_interface_facts.results %}
{% if fact.item.resource_name is search("-master$") %}
{{ fact.item.physical_resource_id }}  ansible_host={{ fact.server_interface[os_container_infra_public_interface][-1] }} ansible_user={{ os_container_infra_user }}
{% endif %}
{% endfor %}

[node]
{% for fact in server_interface_facts.results %}
{% if fact.item.resource_name is search("-node$") %}
{{ fact.item.physical_resource_id }}  ansible_host={{ fact.server_interface[os_container_infra_public_interface][-1] }} ansible_user={{ os_container_infra_user }}
{% endif %}
{% endfor %}
