[openstack]
localhost   ansible_connection='local'    ansible_python_interpreter='/usr/bin/env python'

{% for group in os_container_infra_group_names %}
[{{ group }}]
{% for fact in server_interface_facts.results %}
{% if fact.item.resource_name is search("-" + group + "$") %}
{{ fact.server_name }}  ansible_host={{ fact.server_networks[os_container_infra_external_interface][-1] }}  ansible_user={{ os_container_infra_user }}  server_networks='{{ fact.server_networks | to_json }}'
{% endif %}
{% endfor %}

{% endfor %}
[container-infra:children]
{{ os_container_infra_group_names | join('\n') }}
