[openstack]
localhost ansible_connection='local' ansible_python_interpreter='/usr/bin/env python'

{% if os_container_infra_environment_group is not none %}
[{{ os_container_infra_environment_group }}:children]
openstack
cluster

{% endif %}
{% for group in os_container_infra_groups %}
[{{ group.name }}]
{% for fact in openstack_server_interfaces.results %}
{% if fact.item.name is search("-" + group.name + "$") %}
{{ fact.server_name }} ansible_host={{ fact.server_networks[os_container_infra_default_interface] | last }} ansible_user={{ os_container_infra_user }} server_networks='{{ fact.server_networks | to_json }}'
{% endif %}
{% endfor %}

{% endfor %}
[cluster:children]
{% for group in os_container_infra_groups %}
{{ group.name }}
{% endfor %}

{% for role in os_container_infra_roles %}
[cluster_{{ role.name }}:children]
{% for group in role.groups %}
{{ group.name }}
{% endfor %}

{% endfor %}
